
    
    <title> Member Registeration Form  </title>

    
    <% include ./partials/navbar %>
    </br> </br> </br></br>
     
    <form  action="/submit-data" method="POST">
    <div class="form-group" >
      <i>First Name</i>   :  <input class="form-control" type="text" name="firstName" ></br>
      <i>Last Name </i>    :  <input class="form-control" type="text" name="lastName"></br>
      <i>Passport No </i>  :  <input class="form-control" type="text" name="passPort"></br>
     <i>Mobile No </i>    :  <input class="form-control" type="text" name="mobile" ></br>
      <i>Country</i>       :  <input class="form-control" type="text" name="country"></br>
      
      
    <input type="submit" value="Register"  >
    </div>
    </form>
    
    
    
    
    
    </br></br></br>
        <% include ./partials/footer %>
    


